include versioneer.py
include .coveragerc
include README.md COPYING LICENSE
include requirements.txt dev_requirements.txt
include MANIFEST.in
include versioneer.py
recursive-include test *
recursive-include rules *
global-exclude *.retry
global-exclude *.pyc
global-exclude __pycache__
global-exclude *.ipc
recursive-exclude data *
include cif/_version.py
recursive-exclude rules *
exclude local_requirements.txt